h1 {
    text-align: center;
    color: blue;
    font-size: 5rem;
}

p {
    text-align: center;
    font-size: 3rem;
    background-color: pink;    
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: lightblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: blue;
}

div {
    display: flex;
    justify-content: center;
}